{% extends 'base.html'%}
{% load static %}
{% block style %}
<style>
  .testimonials {
    padding: 100px 0;
  }
  .testimonials h3 {
    margin-bottom: 20px;
  }
  .testimonials .card {
    border-bottom: 3px #ff5a00 solid !important;
    transition: 0.5s;
    margin-top: 60px;
  }
  .testimonials .card i {
    background-color: #ff5a00;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
  }

</style>
{% endblock %}
{% block content %}
<div class="container">
    <h2>why Choose Us</h2>
    <p>{{theme.theory}}</p>
          <div class="row" style="margin-top:30px;">
        <div class="col-12 col-md-3" >
          <center><img src="{% static 'images/vision.png'%}" alt=""></center>
        </div>
        <div class="col-12 col-md-9">
          <h3 class="entry-title" style="text-align: center;color:rgba(255,90,0,1);">Our Vision</h3>
          <p>{{theme.my_vision}}</p>
        </div>
    </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-12 col-md-3">
          <center><img src="{% static 'images/mission.png'%}" alt=""></center>
        </div>
        <div class="col-12 col-md-9">
          <h3 class="entry-title" style="text-align: center;color:rgba(255,90,0,1);">Our Mission</h3>
          <p>{{theme.my_mission}}</p>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-12 col-md-3">
          <center><img src="{% static 'images/history.png'%}" alt=""></center>
        </div>
        <div class="col-12 col-md-9">
          <h3 class="entry-title" style="text-align: center;color:rgba(255,90,0,1);">Our History</h3>
          <p>{{theme.my_history}}</p>
        </div>
    </div>
</div>
<!-- our goals -->
<div class="container">
  <h2>Our Goals</h2>
  {% for goal in goals%}
    <div class="row" style="margin-bottom:50px;background: #ecf2f5;padding:20px 0;    border-radius: 24px;">
      <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
        <img src="{{goal.image.url}}" alt="" style="max-width:100%;max-height:100%;">
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
        <h3 style="font-weight:700;color:rgba(255,90,0,1);text-align:center;">{{goal.title}}</h3>
        <p>{{goal.discription|linebreaks }}</p>
        <a href="#" style="color:white;background-color:rgba(255,90,0,1);padding:10px;border-radius:24px;text-decoration: none;"><i class="fas fa-hand-holding-usd"></i>&nbsp&nbsp Donate Now</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#" style="color:white;background-color:rgba(255,90,0,1);padding:10px;border-radius:24px;text-decoration: none;"><i class="fas fa-images"></i>&nbsp&nbsp Gallary</a>
      </div>
    </div>
  {% endfor %}
</div>
<div class="container">
  <h2>NGO Partners</h2>
	<div class="row">
		{% for ngopart in ngoparts%}
		<div class="col-6 col-md-4 col-lg-3" style="margin-top:40px;">
					<img src="{{ngopart.image.url}}" alt="" class="supporter-image" style="box-shadow: -10px 10px 5px rgba(0,0,0,0.3);border-radius:20px;">
					<div class="team-text" style="box-shadow: -10px 10px 5px rgba(0,0,0,0.3);margin-top:15px;border-radius:24px;">
						<p style="text-align:center;padding:10px;border-radius:24px;background-color:rgba(255,90,0,1);color:#fff;margin:1px;">{{ngopart.title}}</p>
					</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container">
  <h2>SocialMedia Partners</h2>
	<div class="row">
		{% for socpart in socparts%}
		<div class="col-6 col-md-4 col-lg-3" style="margin-top:40px;">
					<img src="{{socpart.image.url}}" alt="" class="supporter-image" style="box-shadow: -10px 10px 5px rgba(0,0,0,0.3);border-radius:20px;">
					<div class="team-text" style="box-shadow: -10px 10px 5px rgba(0,0,0,0.3);margin-top:15px;border-radius:24px;">
						<p style="text-align:center;padding:10px;border-radius:24px;background-color:rgba(255,90,0,1);color:#fff;margin:1px;">{{socpart.title}}</p>
					</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container">
    <h2>Advisory Board Members</h2>
    <div class="row">
      {% for supporter in supporters %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <img src="{{supporter.image.url}}" style="max-width:100%;max-height:100%;border-radius:50%;">
          <div style="height:10px;"></div>
        <h6 style="color:rgba(255,90,0,1);text-align:center;">{{supporter.name}}</h6>
        <p class="para coreteam" style="text-align:center;">{{supporter.cader}}</p>
      </div>
      {% endfor %}
    </div>
</div>
<!-- <div class="jumbotron container">
  <h2>Testmonials</h2>
    <div style="display:inline-block;">
      <p><span style="color:rgba(255,90,0,1);font-size:3rem;">&#8220;</span>This is an awesome organisation..i would like to be valurnterr in this<span style="color:rgba(255,90,0,1);font-size:3rem;">&#8221;</span> </p>
      <p style="text-align:right;">-vasu,web developer</p>
    </div>
    <div style="display:inline-block;">
      <p><span style="color:rgba(255,90,0,1);font-size:3rem;">&#8220;</span>This is an awesome organisation..i would like to be valurnterr in this<span style="color:rgba(255,90,0,1);font-size:3rem;">&#8221;</span> </p>
      <p style="text-align:right;">-virat,cricketer</p>
    </div>
</div> -->
<body>

  <div class="testimonials text-center">

    <div class="container">
      <h2>Testimonials</h2>
      <div class="row">
        {% for testmonial in testmonials%}
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-light bg-light text-center">
              <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
              <div class="card-body blockquote">
                <p class="card-text">{{testmonial.comment}}</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{testmonial.name}}</cite></footer>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

</body>
{% endblock %}
