{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  /*== .Global Classes ==*/
.bold{font-weight: bold;}
.text-corosel
{
   background-image:url({{banner_image.image.url}});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   height:80vh;
   /*width:100vw;*/
   position:relative;
}
/*== Testimonials ==*/
.Testimonial{
  background-color: #fff;
  border-radius: 5px;
  /*position: absolute;*/
  display:inline-block;
  top:10px;
  left:10px;
  text-align:center;
  padding:10px;

}

/*== Arrows ==*/
.quotCircle{
    width: 15px;
    height: 15px;
    border: 2px solid rgba(255,90,0,1);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
#qout-two, #qout-three, #qout-four{display: none;}
.active{background-color: rgba(255,90,0,1);}

@media(max-width:767px){
  .text-corosel{
    height:60vh;
  }
}
</style>
{% endblock %}
{% block content %}
    <div style="margin-top:5px;background-color:rgba(255,90,0,1);"></div>
<!--         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color:black;">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'header.jpg' %}" alt="First slide" style="opacity:0.8;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'header1.jpg' %}" alt="Second slide" style="opacity:0.8;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'header2.jpg' %}" alt="Third slide" style="opacity:0.8;">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color:rgba(255,90,0,1);color:white;padding:1rem;border-radius:30px;"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" style="background-color:rgba(255,90,0,1);color:white;padding:1rem;border-radius:30px;"></span>
          </a>
    </div> -->
 <div class="jumbotron text-corosel"> 
  <center><article class="Testimonial">
  <section>
    <!-- Item -->
    <div id="qout-one">
      <p class="bold">Be the change you want to see in the world</p>
    </div>
    <!-- ./Item -->
    <!-- Item -->
    <div id="qout-two">
      <p class="bold">Charity sees the need, not the cause</p>
    </div>
    <!-- ./Item -->
    <!-- Item -->
    <div id="qout-three">
      <p class="bold">An effort made for the happiness of others lifts us above ourselves</p>
    </div>
    <!-- ./Item -->
    <!-- Item -->
<!--     <div id="qout-four">
      <p class="bold">"consectetur adipisicing elit. Lorem ipsum dolor sit amet, Nihil ipsam alias, natus perspiciatis explicabo odio"</p>
    </div> -->
    <!-- ./Item -->
  </section>
  </article></center>
  <!-- ./section -->
  
  <!-- Arrows -->
  <div class="row" style="position:absolute;bottom:10px;background-color:#fff;left:40%;padding:5px 0 0 0;border-radius:24px;">
    <div class="col m6 s12 offset-m3 center">
      <div class="quotCircle active" id="one"></div>
      <div class="quotCircle" id="two"></div>
      <div class="quotCircle" id="three"></div>
      <!-- <div class="quotCircle" id="four"></div> -->
    </div>
  </div>
  <!-- ./Arrows -->
</div>
    <div class="container">
      <div class="counts">
        <h2>We Donated</h2>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/dinner.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Food Feeded:</h4><h4 style="text-align:center;">{{count_numbers.food_feeded}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/menstruation.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Sanitary pads:</h4><h4 style="text-align:center;">{{count_numbers.sanitary_pads}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/notebook.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Education :</h4><h4 style="text-align:center;">{{count_numbers.education}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/food-delivery.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Rice and groceries:</h4><h4 style="text-align:center;">{{count_numbers.rice_groceries}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/death.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Funerals :</h4><h4 style="text-align:center;">{{count_numbers.funerals}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/tran.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Transformation</h4><h4 style="text-align:center;">{{count_numbers.transformation}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/blanket.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Blankets</h4><h4 style="text-align:center;">{{count_numbers.blankets}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/human-body.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Organs</h4><h4 style="text-align:center;">{{count_numbers.organs}}</h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 show-case-box">
            <center><img src="{% static 'images/blood-donation.png'%}" alt=""></center><br>
            <h4 style="text-align:center;">Blood Camps</h4><h4 style="text-align:center;">{{count_numbers.blood_camps}}+</h4>
          </div>
        </div>
      </div>
      <div class="latest-updates">
        <h2>Latest Updates</h2>
        <div class="row" style="margin:0;padding:0;">
          {% for event in events%}
            <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top:20px;">
              <div class="card" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:24px;">
                <img class="card-img-top" src="{{event.image.url}}" alt="Image" style="margin:0;padding:0;border-radius:24px;">
                <div class="card-body" style="margin:0;padding:0;">
                  <p class="card-text" style="text-align:center;padding:10px;border-radius:24px;background-color:rgba(255,90,0,1);color:#fff;margin:2px;">{{event.caption}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- This is for donate now purpose -->
    <br><br><br>
    <div style="background-image: linear-gradient(rgba(52, 58, 64, 0.57),rgba(52, 58, 64, 0.57)),url({{banner_image.image.url}});background-size: cover;background-position: center center;background-repeat: no-repeat;background-attachment: fixed;" id="donate-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-5 text-center">
            <h3 class="text-white mb-5 mt-5">Make A Donation Now! You May Change Lives Forever</h3>
            <p><a href="#" class="btn btn-primary px-4 py-3 btn-block mb-5" style="background-color:rgba(255,90,0,1);border:none;font-size:1.5rem;">Donate Now</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- achivemetns -->
    <h2>Our Achivements</h2>
    <div class="jumbotron">
    <div class="container">
      <div class="row">
        {% for achivement in achivements%}
        <div class="col-lg-4 col-md-6 col-sm-6" style="margin-top:30px;">
          <div class="card" style="background-color: white;box-shadow: -20px 20px 10px rgba(0,0,0,0.3);border-radius:20px;">
            <img class="achivement-image" src="{{achivement.image.url}}" alt="Image" style="margin:0;padding:0;border-radius:20px;">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
        </div>
  <div class="container">
      <h2>Our amazing team</h2>
      <div class="row">
        {% for team in teams %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <img src="{{team.image.url}}" style="max-width:100%;max-height:100%;border-radius:50%;">
            <div style="height:10px;"></div>
          <h6 style="color:rgba(255,90,0,1);text-align:center;">{{team.name}}</h6>
          <p class="para coreteam" style="text-align:center;">{{team.cader}}</p>
        </div>
        {% endfor %}
      </div>
  </div>
  <script type="text/javascript">
    window.$("#one").on("click", function () {changeSlide("#qout-one", "#one");});
    window.$("#two").on("click", function () {changeSlide("#qout-two", "#two");});
    window.$("#three").on("click", function () {changeSlide("#qout-three", "#three");});
    // window.$("#four").on("click", function () {changeSlide("#qout-four", "#four");});

//================== Function =====================

function changeSlide(qout,circle){
  window.$(qout).siblings().hide();
  window.$(qout).slideDown(1000);
  window.$(circle).css("background-color", "rgba(255,90,0,1)");
  window.$(circle).siblings().css("background-color", "#fff");
}
  </script>
{% endblock %}
